<h1>Books</h1>

<%= link_to 'Add New Book', new_book_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td>
          <%= link_to 'Show', book %>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to("Delete", delete_book_path(book), :class => 'action delete') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
